@charset "UTF-8";
/* PC용 스타일 시작 */
/* media 쿼리: 모든 미디어의 가로크기가 1132px 이상이면 아래 스타일 적용 */
@media all and (min-width:1132px) {
/* slide 영역 시작 */
.carousel-item, .carousel-item img {height:700px;}
/* slide 영역 끝 */

/* we are 영역 시작 */
.weare-header {
margin:0 3%; /* 가운데 정렬이면서 좌우 여백이 3% */
margin-top:30px;
text-align:left; /* 내부 글자들 좌우 정렬된 것을 왼쪽 정렬로 */
}
.weare-header .section-title {
float:left;
width:50%;
text-align:center;
}
.weare-header p {
float:right;
width:50%;
position:relative; /* p태그 내용을 상대 위치로 설정 */
padding-left:20px; /* 아래 가상 요소가 나타나는 영역을 얿히는 역할 */
}
.weare-header p::before {
/* p태그 앞에 가상 요소로 작대기 하나 만드는 과정, a:hover는 가상 클래스 */
position:absolute; /* 위아헤더 영역 내에서의 절대 위치 */
top:7px;
left:0px;
width:2px; /* 작대기 가로 크기 */
height:40px; /* 작대기 세로 크기  */
background:#ccc; /* 작대기 색상 */
content:"";
}
/* we are 영역 끝 */

/* work 영역 시작 */
.work-section .section-title {
text-align:left;
margin-left:3%;
}
.work-section li {
width:25% /* 100%/4=25% */
}
/* work 영역 끝 */

/* blog 영역 시작 */
.blog-section {
margin-left:3%;
margin-right:3%;
}
.blog-section h1 {
float:left; /* 세로 배치를 가로 배치로 변경 */
margin-top:17px;
}
.blog-section .container {
float:right;
width:80%;
}
/* blog 영역 끝 */

/* contact 영역 시작 */
.contact-section {
margin-left:3%;
margine-right:3%;
}
.contact-section h1 {
float:left;
margin-top:30px;
}
.contact-section .container {
float:right;
width:80%;
}
.contact-section form input {height:50px;}
.contact-section form textarea {min-height:150px;}
/* contact 영역 끝 */

}
/* PC용 스타일 끝 */