@charset "UTF-8";
/*media 쿼리: 모든 미디어의 가로크기가 768px 이상이면 아래 스타일 적용*/
@media all and (min-width:768px) {
/* 공통 사항 시작 */
ul {text-align:center;}
/* 공통 사항 끝 */
/*테블릿용 헤더 영역 시작*/
.menu-toggle-btn {display:none;}
.header .gnb {
display:block;
position:static;
background:none;
width:auto;
float:right;
margin-top:10px;
}
.header .gnb li {
float:left;
border:none;
/*width:95px; 20.11.27 수정*/
}
.header .gnb li:last-child {border-bottom:none;}
.header .gnb li a {
displayLinline-block; /*콘텐츠 내용 크기 만큼만 자리를 차지하게 함*/
color:#000;
/* 20.11.27 추가한 부분 시작 */
padding-left:0px;
margin-right:30px;
/* 20.11.27 추가한 부분 끝 */
}
.header .gnb li a:hover {text-decoration:none;}
/*테블릿용 헤더 영역 끝*/

/*슬라이드 영역 시작*/
.carousel-item, .carousel-item img {height:500px;}
/*슬라이드 영역 끝*/

/*we are 영역 시작*/
.float-clear {clear:both;} /* clear속성은 float작동을 없애는 역할 */
.weare-body li {
float:left;
width:23.046875%; /* (177/768)*100=x% */
margin-left:2.604166%; /* (20/768)*100=x% */
/* 퍼센트로 설정했기 때문에 화면을 늘리면 사진도 똑같이 늘어나게 되고, 픽셀로 설정하면 안 그럼 */
overflow:hidden; /* 반응형 list에서 가로크기를 벗어나는 이미지 내용은 숨김 처리 */
}
.weare-body li img {
width:100%;
height:auto;
}
.weare-body {margin:10px 3%;} /*상하(10px) 좌우 여백(3%)*/
.weare-body li:first-child {
margin-left:0px;
}
/*we are 영역 끝*/

/*work section 시작*/
.work-section li {
float:left; /*세로 배치를 가로 배치로 변경*/
width:50%;
max-height:300px;
overflow:hidden;
}
/*work section 끝*/

/*blog 영역 시작*/
.blog-section li {
float:left; /* 세로 배치가 3개 사진의 가로 배치로 변경 */
width:31.59722222222%; /* 3개 중 1개의 가로 크기 (242px/768)*100=x% */
margin-left:2.60416666666%; /* 1개의 여백 크기 (20px/768)*100=x% */
height:300px;
}
.blog-section li .preview {
height:200px;
overflow:hidden;
/* border:1px solid red; 디버그용 */
/* min-height:200px;
max-height:200px; */
}
.blog-section li .info2 {
padding:10px;
}
.blog-section li:first-child {
margin-left:0px;
}
.blog-section li:nth-child(3n+1) {
margin-left:0px;
}
.blog-section hr {display:none;}
/*blog 영역 끝*/

/* contact 영역 시작 */
.input-class, .textarea-class {
float:left;
width:47%; /* 47%+47%=94%이므로 밑에 6% 더하면 총 100% */
}
.input-class {
margin-right:6%;
}
.contact-section form textarea {
min-height:150px;
}
/* contact 영역 끝 */

}